html {
    box-sizing: border-box;
    background-color: rgb(228, 228, 228);
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.home {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbar {
    background-color: #220C10;
    color: #CDD3D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.li {
    text-decoration: none;
    color: #CDD3D5;
    margin: 0 0.25rem;
}

.active {
    color: #77CBB9;
}

.cart {
    display: inline;
}

.cardsHome {
    width: 20rem;
    background-color: white;
    border: 1px solid black;
    margin: 1rem 0.75rem;
    border-radius: 32px;
}

.cardsHome>img {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    width: 100%;
    aspect-ratio: 2/2;
}

.cardsHome-button-div {
    display: flex;
    justify-content: center;
}

.cardsHome-button,
.itemDetail-button {
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
}

.home-promoted {
    background-color: white;
    margin: 1rem 5rem;
    text-align: center;
}

 .home-promotedCards{
    display: flex;
    justify-content: center;
    padding: 0 10rem;
}

.cardsHomePromoted {
    width: 10rem;
    margin: 1rem;
    border: 1px solid #CDD3D5;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
}

.cardsHomePromoted-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-top-left-radius: 32px;
}

.itemDetail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 0 10rem;
}

.itemDetail-img {
    width: 50%;
    aspect-ratio: 1/1;
}

.shoppingCart{
    display: flex;
    justify-content: space-around;
}

.shoppingCart-cardsContainer{
    width: 60rem;
}

.cardSC{
    background-color: #f3f0f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.cardSC-left, .cardSC-right{
    display: flex;
    align-items: center;
}

.cardSC-right *{
    padding: 0 0.5rem;
}

.cardSCImg{
    width: 10rem;
    aspect-ratio: 1/1;
    margin: 1.5rem 3rem;
}