.main {
  width: 100%;
  height: 100vh;
  background-color:  #cdd3d5ff;
  position: relative;
}

.title-style {
  font-size: 2rem;
  font-weight: bold;
  color: #eee;
}
.main-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(80, 108, 100, 0.9) ;
  
}
.img-logo {
  width: 450px;
  height: 450px;
}
.margin-customs {
  margin-top: 500px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: 100vh;
}
@media (max-width: 450px) {
  .h-custom {
    height: 100vh;
  }
}
.bg-customs{
  color: #eee !important;
}
 .bg-footer{
  background: #220c10ff;
 }